body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #dddddd;
	background-image: url('assets/images/topography.png');
}


h1 {
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	width: 200px;
}


h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}



nav {
	display: block;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin: 10px 0px 10px 0px;
	padding: 5px 5px 5px 100px;

}

.navi {
	margin: 0 15px 0 0;
}
a:active {
	color: blue;
}

a:hover {
	color: green;
}

a:visited {
	color: pink;
}

#content1 {

	height: 280px;
	margin: 0px;
	padding: 30px 5px 0px 80px;
	border: 1px solid #dddddd;
	background-image: url('assets/images/ep_naturalwhite.png') repeat; 

}

#content2 {

	height: 300px;
	margin: 0px;
	padding: 30px 5px 350px 80px;
	border: 1px solid #dddddd;
	
}

#one {
	width: 610px;
	float: left;
	margin: 0 0 20px 0;
	padding: 20px 20px 80px 20px;
	border: 1px solid #dddddd;
	background-color: #ffffff;	
}

#two {
	width: 610px;
	float: left;
	margin: 0px;
	padding: 20px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
}


header {
	border-bottom: 1px solid #777777;
}


article {
	width: 270px;
	float: right;
	margin: 3px 330px 0px 0px;
	padding: 20px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

img.me {
	transform: rotate(90deg);
	width: 100px;
	height: 90px;
	float: left;
	clear: both;
    margin: 5px 10px 5px 0px;
}

.icons {
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
}


footer {
	background-color: #666666;
	margin: 0px;
	border: 1px solid #cccccc;
	clear: both;
	text-align: center;
	color: 	#F0F0F0;
}

.port {
	width: 285px;
	height: 230px;

}

td {
	margin: 0px;
	padding: 10px;
}

#wrap {
	height: 300px;
	margin: 0px;
	padding: 30px 5px 350px 80px;
	border: 1px solid #dddddd;
	float: left;	
}

 form {
 	width: 550px;
	float: left;
	margin: 0 70px 0 0;
	padding: 20px;
	background-color: #ffffff;
	

 }

 label {
 	display: block;
 	margin: 5px 0 5px 20px;
 	font: 18px;
 }

 input {
 	width: 450px;
 	padding: 5px;
 }

 fieldset {
 	border: 0;
 }

 textarea {
 	width: 450px;
 	height: 200px;
 	padding: 5px;
 }

 .btn {
 	width: 100px;
 	padding: 10px;
 	background-color: #4aaaa5;
	color: white;
 }

 @media (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: orange;
    }
}
@media (min-width: 769px) and (max-width: 980px) {
    body {
        background-color: yellow;
    }
}